USE [master]
GO
/****** Object:  Database [HOTEL]    Script Date: 2/11/2021 17:07:52 ******/
CREATE DATABASE [HOTEL]
GO
USE [HOTEL]
GO
/****** Object:  Table [dbo].[DETALLERESERVA]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLERESERVA](
	[IDDETALLERESERVA] [smallint] NOT NULL,
	[IDRESERVACION] [bigint] NOT NULL,
	[IDHABITACION] [smallint] NOT NULL,
	[FECHAENTRADA] [date] NOT NULL,
	[FECHASALIDAD] [date] NOT NULL,
	[IMPORTE] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_DETALLERESERVA] PRIMARY KEY CLUSTERED 
(
	[IDDETALLERESERVA] ASC,
	[IDRESERVACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[IDEMPLEADO] [smallint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[TELEFONO] [varchar](10) NULL,
	[DIRECCION] [varchar](100) NULL,
	[SALARIO] [decimal](10, 2) NULL,
	[ESTADO] [tinyint] NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[IDEMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPRESAASOCIADA]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPRESAASOCIADA](
	[IDEMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[CODIGOEMPRESA] [varchar](10) NOT NULL,
	[NOMBREEMPRESA] [varchar](50) NULL,
	[DIASCREDITO] [tinyint] NULL,
 CONSTRAINT [PK_EMPRESAASOCIADA] PRIMARY KEY CLUSTERED 
(
	[IDEMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESTADOHABITACION]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADOHABITACION](
	[IDESTADOHAB] [tinyint] NOT NULL,
	[DESCESTADOHAB] [varchar](30) NOT NULL,
 CONSTRAINT [PK_ESTADOHABITACION] PRIMARY KEY CLUSTERED 
(
	[IDESTADOHAB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FOTOSHABITACION]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FOTOSHABITACION](
	[IDFOTOS] [int] NOT NULL,
	[PATH] [varchar](300) NOT NULL,
	[IDHABITACION] [smallint] NOT NULL,
 CONSTRAINT [PK_FOTOSHABITACION] PRIMARY KEY CLUSTERED 
(
	[IDFOTOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HABITACION]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HABITACION](
	[IDHABITACION] [int] IDENTITY(1,1) NOT NULL,
	[CODHABITACION] [varchar](10) NOT NULL,
	[ESTADOHABITACION] [tinyint] NOT NULL,
	[TIPOHABITACION] [smallint] NOT NULL,
	[BHABILITADO] [bit] NOT NULL CONSTRAINT [DF_HABITACION_BHABILITADO]  DEFAULT ((1)),
 CONSTRAINT [PK_HABITACION] PRIMARY KEY CLUSTERED 
(
	[IDHABITACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RESERVACION]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RESERVACION](
	[IDRESERVACION] [bigint] IDENTITY(1,1) NOT NULL,
	[TOTAL] [decimal](18, 2) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[ESTADO] [tinyint] NOT NULL,
	[CANTPERSONAS] [tinyint] NOT NULL,
	[TIPORESERVA] [tinyint] NOT NULL,
	[CODIGOEMPRESA] [varchar](10) NULL,
 CONSTRAINT [PK_RESERVACION] PRIMARY KEY CLUSTERED 
(
	[IDRESERVACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOHABITACION]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOHABITACION](
	[IDTIPO] [smallint] IDENTITY(1,1) NOT NULL,
	[DESCTIPO] [varchar](50) NOT NULL,
	[TARIFANORMAL] [decimal](10, 2) NOT NULL,
	[TARIFAFIN] [decimal](10, 2) NOT NULL,
	[PERSONAS] [tinyint] NOT NULL,
	[ESTADO] [tinyint] NOT NULL CONSTRAINT [DF_TIPOHABITACION_ESTADO]  DEFAULT ((1)),
 CONSTRAINT [PK__TIPOHABI__E57FEC10B35CECD0] PRIMARY KEY CLUSTERED 
(
	[IDTIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPORESERVA]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPORESERVA](
	[IDTIPORESERVACION] [tinyint] IDENTITY(1,1) NOT NULL,
	[TIPORESERVACION] [varchar](10) NULL,
 CONSTRAINT [PK_TIPORESERVA] PRIMARY KEY CLUSTERED 
(
	[IDTIPORESERVACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOUSUARIO]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOUSUARIO](
	[IDTIPOUSUARIO] [tinyint] IDENTITY(1,1) NOT NULL,
	[DESCTIPOUSUARIO] [varchar](50) NULL,
 CONSTRAINT [PK_TIPOUSUARIO] PRIMARY KEY CLUSTERED 
(
	[IDTIPOUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IDUSUARIO] [smallint] IDENTITY(1,1) NOT NULL,
	[USR] [varchar](10) NOT NULL,
	[CLAVE] [varchar](20) NOT NULL,
	[IDEMPLEADO] [smallint] NOT NULL,
	[TIPOUSUARIO] [tinyint] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLEADO] ON 

INSERT [dbo].[EMPLEADO] ([IDEMPLEADO], [NOMBRE], [TELEFONO], [DIRECCION], [SALARIO], [ESTADO]) VALUES (1, N'JUANA GARCÍA', N'79897654', N'SAN SEBASTIÁN, RETALHULEU', CAST(3500.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[EMPLEADO] ([IDEMPLEADO], [NOMBRE], [TELEFONO], [DIRECCION], [SALARIO], [ESTADO]) VALUES (2, N'JOSELINE LOARCA', N'56543212', N'RETALHULEU, RETALHULEU', CAST(4000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[EMPLEADO] ([IDEMPLEADO], [NOMBRE], [TELEFONO], [DIRECCION], [SALARIO], [ESTADO]) VALUES (3, N'KEVIN BARRERA', N'55657620', N'GUATEMALA', CAST(6500.00 AS Decimal(10, 2)), 0)
SET IDENTITY_INSERT [dbo].[EMPLEADO] OFF
SET IDENTITY_INSERT [dbo].[EMPRESAASOCIADA] ON 

INSERT [dbo].[EMPRESAASOCIADA] ([IDEMPRESA], [CODIGOEMPRESA], [NOMBREEMPRESA], [DIASCREDITO]) VALUES (1, N'1001', N'PTC', 45)
INSERT [dbo].[EMPRESAASOCIADA] ([IDEMPRESA], [CODIGOEMPRESA], [NOMBREEMPRESA], [DIASCREDITO]) VALUES (2, N'1002', N'BOWPI', 30)
SET IDENTITY_INSERT [dbo].[EMPRESAASOCIADA] OFF
INSERT [dbo].[ESTADOHABITACION] ([IDESTADOHAB], [DESCESTADOHAB]) VALUES (1, N'DISPONIBLE')
INSERT [dbo].[ESTADOHABITACION] ([IDESTADOHAB], [DESCESTADOHAB]) VALUES (2, N'OCUPADA')
INSERT [dbo].[ESTADOHABITACION] ([IDESTADOHAB], [DESCESTADOHAB]) VALUES (3, N'LIMPIEZA')
SET IDENTITY_INSERT [dbo].[HABITACION] ON 

INSERT [dbo].[HABITACION] ([IDHABITACION], [CODHABITACION], [ESTADOHABITACION], [TIPOHABITACION], [BHABILITADO]) VALUES (1, N'M1-1', 1, 1, 1)
INSERT [dbo].[HABITACION] ([IDHABITACION], [CODHABITACION], [ESTADOHABITACION], [TIPOHABITACION], [BHABILITADO]) VALUES (2, N'M1-2', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[HABITACION] OFF
SET IDENTITY_INSERT [dbo].[TIPOHABITACION] ON 

INSERT [dbo].[TIPOHABITACION] ([IDTIPO], [DESCTIPO], [TARIFANORMAL], [TARIFAFIN], [PERSONAS], [ESTADO]) VALUES (1, N'SIMPLE', CAST(300.00 AS Decimal(10, 2)), CAST(450.00 AS Decimal(10, 2)), 1, 1)
INSERT [dbo].[TIPOHABITACION] ([IDTIPO], [DESCTIPO], [TARIFANORMAL], [TARIFAFIN], [PERSONAS], [ESTADO]) VALUES (2, N'DOBLE', CAST(450.00 AS Decimal(10, 2)), CAST(600.00 AS Decimal(10, 2)), 2, 1)
INSERT [dbo].[TIPOHABITACION] ([IDTIPO], [DESCTIPO], [TARIFANORMAL], [TARIFAFIN], [PERSONAS], [ESTADO]) VALUES (3, N'TRIPLE', CAST(600.00 AS Decimal(10, 2)), CAST(850.00 AS Decimal(10, 2)), 3, 1)
SET IDENTITY_INSERT [dbo].[TIPOHABITACION] OFF
SET IDENTITY_INSERT [dbo].[TIPORESERVA] ON 

INSERT [dbo].[TIPORESERVA] ([IDTIPORESERVACION], [TIPORESERVACION]) VALUES (1, N'NORMAL')
INSERT [dbo].[TIPORESERVA] ([IDTIPORESERVACION], [TIPORESERVACION]) VALUES (2, N'CREDITO')
SET IDENTITY_INSERT [dbo].[TIPORESERVA] OFF
SET IDENTITY_INSERT [dbo].[TIPOUSUARIO] ON 

INSERT [dbo].[TIPOUSUARIO] ([IDTIPOUSUARIO], [DESCTIPOUSUARIO]) VALUES (1, N'ADMIN')
INSERT [dbo].[TIPOUSUARIO] ([IDTIPOUSUARIO], [DESCTIPOUSUARIO]) VALUES (2, N'OPERATIVO')
INSERT [dbo].[TIPOUSUARIO] ([IDTIPOUSUARIO], [DESCTIPOUSUARIO]) VALUES (3, N'RECEPCIONISTA')
SET IDENTITY_INSERT [dbo].[TIPOUSUARIO] OFF
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([IDUSUARIO], [USR], [CLAVE], [IDEMPLEADO], [TIPOUSUARIO]) VALUES (1, N'ADMIN2021', N'Cambiar$2021', 1, 1)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__HABITACI__5D58FAA7297F0F00]    Script Date: 2/11/2021 17:07:52 ******/
ALTER TABLE [dbo].[HABITACION] ADD  CONSTRAINT [UQ__HABITACI__5D58FAA7297F0F00] UNIQUE NONCLUSTERED 
(
	[CODHABITACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HABITACION]  WITH CHECK ADD  CONSTRAINT [FK_HABITACION_ESTADOHABITACION] FOREIGN KEY([ESTADOHABITACION])
REFERENCES [dbo].[ESTADOHABITACION] ([IDESTADOHAB])
GO
ALTER TABLE [dbo].[HABITACION] CHECK CONSTRAINT [FK_HABITACION_ESTADOHABITACION]
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultaEmpleado]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ConsultaEmpleado] 
	-- Add the parameters for the stored procedure here
	@ID SMALLINT = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @ID IS NULL
		SELECT IDEMPLEADO, NOMBRE, TELEFONO, DIRECCION, SALARIO FROM EMPLEADO WHERE ESTADO = 1
	ELSE
		SELECT IDEMPLEADO, NOMBRE, TELEFONO, DIRECCION, SALARIO FROM EMPLEADO WHERE ESTADO = 1 AND IDEMPLEADO = @ID

END

GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultaHabitacion]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ConsultaHabitacion] 
	-- Add the parameters for the stored procedure here
	@ID INT = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @ID IS NULL
	BEGIN
		SELECT 
			IDHABITACION, 
			CODHABITACION, 
			EH.DESCESTADOHAB AS 'ESTADO HABITACION', 
			TH.DESCTIPO AS 'TIPO HABITACION' 
		FROM HABITACION H 
		INNER JOIN ESTADOHABITACION EH ON H.ESTADOHABITACION = EH.IDESTADOHAB
		INNER JOIN TIPOHABITACION TH ON H.TIPOHABITACION = TH.IDTIPO
		WHERE BHABILITADO = 1
	END		
	ELSE
	BEGIN
		SELECT 
			IDHABITACION, 
			CODHABITACION, 
			EH.DESCESTADOHAB AS 'ESTADO HABITACION', 
			TH.DESCTIPO AS 'TIPO HABITACION' 
		FROM HABITACION H 
		INNER JOIN ESTADOHABITACION EH ON H.ESTADOHABITACION = EH.IDESTADOHAB
		INNER JOIN TIPOHABITACION TH ON H.TIPOHABITACION = TH.IDTIPO
		WHERE IDHABITACION = @ID AND BHABILITADO = 1
	END
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultaTipoHabitacion]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ConsultaTipoHabitacion]
	-- Add the parameters for the stored procedure here
	@ID SMALLINT = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @ID IS NULL
		SELECT IDTIPO, DESCTIPO, TARIFANORMAL, TARIFAFIN, PERSONAS FROM TIPOHABITACION WHERE ESTADO = 1
	ELSE
		SELECT IDTIPO, DESCTIPO, TARIFANORMAL, TARIFAFIN, PERSONAS FROM TIPOHABITACION WHERE ESTADO = 1 AND IDTIPO = @ID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_MantenimientoEmpleado]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_MantenimientoEmpleado]
	-- Add the parameters for the stored procedure here
	@OPCION TINYINT,
	@NOMBRE VARCHAR(100) = NULL,
	@TELEFONO VARCHAR(10) = NULL,
	@DIRECCION VARCHAR(100) = NULL,
	@SALARIO DECIMAL(10,2) = NULL,
	@IDEMPLEADO SMALLINT = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	--INSERTAR
	IF @OPCION = 1
	BEGIN
		INSERT INTO EMPLEADO VALUES (@NOMBRE, @TELEFONO, @DIRECCION, @SALARIO, 1)				
	END

	--ACTUALIZAR
	IF @OPCION = 2
	BEGIN
		UPDATE EMPLEADO 
		SET NOMBRE = @NOMBRE, TELEFONO = @TELEFONO, DIRECCION = @DIRECCION, SALARIO = @SALARIO
		WHERE IDEMPLEADO = @IDEMPLEADO
	END

	--DAR DE BAJA
	IF @OPCION = 3
	BEGIN
		UPDATE EMPLEADO 
		SET ESTADO = 0
		WHERE IDEMPLEADO = @IDEMPLEADO
	END

END

GO
/****** Object:  StoredProcedure [dbo].[sp_MantenimientoHabitacion]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_MantenimientoHabitacion] 
	-- Add the parameters for the stored procedure here
	@OPCION TINYINT,
	@CODHAB VARCHAR(10) = NULL,
	@ESTADO TINYINT = NULL,
	@TIPOHAB SMALLINT = NULL,
	@ID SMALLINT = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @OPCION = 1
	BEGIN
		INSERT INTO HABITACION VALUES (@CODHAB, @ESTADO, @TIPOHAB, 1)				
	END

	--ACTUALIZAR
	IF @OPCION = 2
	BEGIN
		UPDATE HABITACION 
		SET CODHABITACION = @CODHAB, ESTADOHABITACION = @ESTADO, TIPOHABITACION = @TIPOHAB
		WHERE IDHABITACION = @ID
	END

	--DAR DE BAJA
	IF @OPCION = 3
	BEGIN
		UPDATE HABITACION 
		SET BHABILITADO = 0
		WHERE IDHABITACION = @ID
	END
END

GO
/****** Object:  StoredProcedure [dbo].[sp_MantenimientoTipoHabitacion]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Autho: KB>
-- Create date: <Create Date: 26-10-2021>
-- Description:	<Description:>
-- =============================================
CREATE PROCEDURE [dbo].[sp_MantenimientoTipoHabitacion] 
	-- Add the parameters for the stored procedure here
	@OPCION TINYINT,
	@DESCRIPCION VARCHAR(50) = NULL,
	@TARIFAN DECIMAL(10,2) = NULL,
	@TARIFAFIN DECIMAL(10,2) = NULL,
	@PERSONAS TINYINT = NULL,
	@ID SMALLINT = NULL

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @OPCION = 1
	BEGIN
		INSERT INTO TIPOHABITACION VALUES (@DESCRIPCION, @TARIFAN, @TARIFAFIN, @PERSONAS, 1)				
	END

	--ACTUALIZAR
	IF @OPCION = 2
	BEGIN
		UPDATE TIPOHABITACION 
		SET DESCTIPO = @DESCRIPCION, TARIFANORMAL = @TARIFAN, TARIFAFIN = @TARIFAFIN, PERSONAS = @PERSONAS
		WHERE IDTIPO = @ID
	END

	--DAR DE BAJA
	IF @OPCION = 3
	BEGIN
		UPDATE TIPOHABITACION 
		SET ESTADO = 0
		WHERE IDTIPO = @ID
	END
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Reservacion]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Kevin Barrera>
-- Create date: <Create Date, 6/10/2021>
-- Description:	<Description, Guarda la reservación del cliente>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Reservacion] 
	-- PARAMETROS
	@total decimal(18,2),
	@fecha datetime,
	@cantidad tinyint,
	@codigo_empresa varchar(10),
	@id_reserva bigint output
AS
BEGIN
	
	SET NOCOUNT ON;
	
    declare @cod_empresa varchar(10)
	declare @tipo_reserva tinyint
	 
	select @cod_empresa = (select CODIGOEMPRESA from EMPRESAASOCIADA where IDEMPRESA = 1001)
	
	if @cod_empresa is null
		select @tipo_reserva = 1
	else
		select @tipo_reserva = 2

	insert into RESERVACION values (@total, @fecha, 1, @cantidad, @tipo_reserva, @codigo_empresa)

	if @@ROWCOUNT > 0
		select @id_reserva = (select max(IDRESERVACION) from RESERVACION)

END

GO
/****** Object:  StoredProcedure [dbo].[sp_ReservacionDetalle]    Script Date: 2/11/2021 17:07:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ReservacionDetalle] 
	-- Add the parameters for the stored procedure here
	@idDetalle smallint,
	@idReservacion bigint,
	@idHabitación smallint,
	@fechaIngresa date,
	@fechaSalida date,
	@importe decimal(18,2)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
END

GO
USE [master]
GO
